/* .medicine-title-mobile {
  border-bottom: 1px solid white;
} */

.medicine-title-mobile {
  position: relative;
}

.medicine-title-mobile::after {
  content: "";
  position: absolute;
  bottom: 0; /* Adjust this to match the border position */
  right: 0;
  height: 2px; /* Adjust to match the border height */
  background-color: rgb(255, 255, 255);
  animation: borderGrowFive 0.8s ease-out forwards;
  animation-delay: 0.5s;
}

.medicine-second-underline-mobile {
  position: relative;
}

.medicine-second-underline-mobile::after {
  content: "";
  position: absolute;
  bottom: 0; /* Adjust this to match the border position */
  left: 0;
  height: 2px; /* Adjust to match the border height */
  background-color: rgb(255, 255, 255);
  animation: borderGrowFive 0.8s ease-out forwards;
  animation-delay: 0.5s;
}

@keyframes fadeInMoveUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInMoveUpLessOpacity {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 0.6;
    transform: translateY(0);
  }
}

.medicine-top-text-mobile {
  opacity: 0;
  animation: fadeInMoveUp 0.6s forwards ease-in-out;
  animation-delay: 0.8s;
}

.medicine-text-one-mobile {
  opacity: 0;
  animation: fadeInMoveUp 0.6s forwards ease-in-out;
  animation-delay: 1.2s;
}

.medicine-text-two-mobile {
  opacity: 0;
  animation: fadeInMoveUp 0.6s forwards ease-in-out;
  animation-delay: 1.4s;
}

.contact-us-mobile-img {
  width: 100%;
  position: absolute;
  left: -2em;
  top: 7em;
  z-index: -1;
  opacity: 0;
  animation: fadeInMoveUpLessOpacity 2s forwards ease-in-out;
  animation-delay: 1.3s;
}
