@font-face {
  font-family: Gotham;
  src: url("../src/fonts/Swiss 721 Black.otf");
}

@font-face {
  font-family: gotham-old;
  src: url("../src/fonts/GothamLight.ttf");
}

@font-face {
  font-family: swiss-medium;
  src: url("../src/fonts/Swiss 721 Medium.otf");
}

@font-face {
  font-family: gotham-bold;
  src: url("../src/fonts/GothamBold.otf");
}

body {
  padding: 0;
  margin: 0;
  background: black;
  /* transition: background-image 1s; */
  /* background: black; */
  overflow-y: hidden;
  overflow-x: hidden;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.button-ani {
  /* font-size: 3em; */
  color: rgb(255, 255, 255);
  font-weight: 700;
  background-clip: text;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255),
    rgba(255, 255, 255) 50%,
    rgb(255, 255, 255, 0.5) 50%
  );
  background-position-x: 100%;
  background-position-y: 0;
  background-size: 200% 200%;
  transition: background-position 0.35s ease-in-out;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

.button-ani:hover {
  color: inherit;
  background-position: 0 0;
  cursor: pointer;
}

.app-bg {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: center;
  z-index: 5;
}

.section-one-first-title {
  color: white;
  font-family: gotham;
  font-size: 1.75em;
  opacity: 0.85;
}

.section-one-second-title {
  color: white;
  font-family: gotham;
  font-size: 1.75em;
  opacity: 0.85;
}

.h-nav-in3d-icon {
  animation: slideUpIcon 1s ease-out forwards;
  animation-delay: 2.8s;
  opacity: 0;
  position: fixed;
  top: 3.5em;
  left: 3em;
  z-index: 1;
}

.for-menu {
  animation: slideUpIcon 1s ease-in-out forwards;

  z-index: 5654654;
}

.h-nav-in3d-icon:hover {
  cursor: pointer;
}

.in3d-fixed-logo {
  width: 4.8em;
  /* transition: box-shadow 0.5s ease-in-out; */
  transition: width 0.5s ease-in-out;
}

.in3d-fixed-logo:hover {
  width: 5.4em;
  /* box-shadow: 3px 3px 32px 8px rgba(255, 255, 255, 0.05);
  -webkit-box-shadow: 3px 3px 32px 8px rgba(255, 255, 255, 0.05);
  -moz-box-shadow: 3px 3px 32px 8px rgba(255, 255, 255, 0.05); */
}

@keyframes slideUpIcon {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.home-categories-wrapper {
  height: 100vh;
  width: 36%;
  /* position: absolute;
  right: 14%; */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  /* margin-top: 6em; */
  /* border: 1px solid orange; */
  position: fixed;
  top: 0;
  right: 0;
  /* bottom: 100%; */
  z-index: 1;
}

/* .home-categories-wrapper-fixed {
  position: fixed;
  bottom: 100%;
} */

.category-title {
  /* margin-top: 1em; */
  font-size: 0.9em;
  transition: font-size 0.8s ease-in-out;
}

.category-title-no-opacity {
  opacity: 0;
}

.home-categories-wrapper .category-title {
  opacity: 0;
  animation: fadeIn 1s forwards;
  font-family: gotham;
  line-height: 0;
}

.category-title:hover {
  cursor: pointer !important;
  font-size: 0.95em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home-categories-wrapper .category-title:nth-child(2) {
  animation-delay: 0.2s;
}

.home-categories-wrapper .category-title:nth-child(3) {
  animation-delay: 0.4s;
}
.home-categories-wrapper .category-title:nth-child(4) {
  animation-delay: 0.6s;
}

.home-categories-wrapper .category-title:nth-child(5) {
  animation-delay: 0.8s;
}

.home-categories-wrapper .category-title:nth-child(6) {
  animation-delay: 1s;
}

.home-categories-wrapper .category-title:nth-child(7) {
  animation-delay: 1.2s;
}

.main-content-divider {
  display: flex;
  height: 100%;
}

.main-content-title {
  text-align: center;
}

.main-content-text {
  padding: 1em;
}

.main-content-text-points {
  margin-top: 2em;
  color: rgb(255, 255, 255, 0.9);
  width: 50%;
  font-size: 2em;
  transform: translateX(-200%);
}

.main-content-paragraph {
  color: white;
  padding: 5px;
  font-size: 2em;
  font-family: gotham;
  width: 80%;
}

.inner-line {
  /* border: 1px solid pink; */
  height: 5em;
  z-index: 1;
  border-radius: 12px;
  opacity: 0.4;
}

.main-section {
  /* background: var(--color) no-repeat center; */
  /* overflow: scroll; */
  /* background-size: cover; */
}

.language-flag:hover {
  cursor: pointer;
}

.nav-open-list-item {
  color: rgba(0, 0, 0, 0.4);
}

.nav-open-list-item:hover {
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

.section {
  height: 150vh;
  /* height: 600vh; */
  width: 100vw;
  text-align: center;
  /* line-height: 100vh; */
  font-size: 3em;
  /* overflow-y: scroll; */

  opacity: 1;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut 1s ease forwards;
}

.fade-in {
  animation: fadeIn 1s ease forwards;
}

.fader {
  animation: fadeIn 3s ease forwards;
}

.icon-1,
.icon-2,
.icon-3 {
  position: absolute;
  left: 25%;
  top: 50%;
  width: 36px;
  height: 4px;
  background-color: #ffffff;
  transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
}

.icon-1 {
  transform: translateY(-8px);
  animation-delay: 100ms;
}

.icon-3 {
  transform: translateY(8px);
  animation-delay: 250ms;
}

.hamburger-icon {
  position: absolute;
  height: 70px;
  width: 70px;
  top: 5em;
  right: 5em;
  z-index: 1000;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  background: rgba(255, 255, 255, 0.1);

  &:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  }
}

.icon-1.a {
  transform: rotate(40deg);
}
.icon-3.b {
  transform: rotate(-40deg);
}
.icon-2.c {
  opacity: 0;
}

.clear {
  clear: both;
}

@keyframes slideIn {
  0% {
    width: 0%;
    opacity: 0;
  }

  100% {
    width: 50%;
    opacity: 1;
  }
}

nav {
  background: url("/assets/images/backgrounds/Astro_1_Background.webp")
    no-repeat;
  background-size: cover;

  /* background: url("/assets/images/backgrounds/medicine/medicine_bg.jpg") cover
    no-repeat center; */
  position: absolute;

  top: 0;
  left: 0;
  /* height: 100%;
  width: 0%; */
  z-index: 10;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: 600ms cubic-bezier(0.62, 0.04, 0.3, 1.56); */
  /* transition: all 600ms cubic-bezier(0.62, 0.04, 0.3, 1.56);
  /* transition-delay: 200ms; */
  /* ul {
    margin: 0;
    position: absolute;
    top: 30%;
    width: 90%;
    li {
      text-align: center;
      list-style: none;
      font-size: 24px;
      color: #fff;
      line-height: 2.2;
      text-transform: uppercase;
      letter-spacing: 1.7px;
    }
  } */
}

nav.show {
  width: 100vw;
  height: 100vh;
  animation: fadeIn 0.6s ease-in-out forwards;

  /* background: rgb(207, 210, 164, 0.5); */
}

.dark-blue {
  position: absolute;
  top: 0;
  left: 0;
  background: #64b5f6;
  height: 100%;
  width: 0%;
  transition: all 500ms cubic-bezier(0.62, 0.04, 0.3, 1.8);
  transition-delay: 50ms;
  z-index: 5;
  opacity: 1;
}

.dark-blue.slide {
  width: 50%;
  opacity: 1;
}

@keyframes shotup {
  0% {
    transform: translateY(300%);
    opacity: 0;
  }
  90% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

/* main scolling component sections */

section {
  width: 100%;
  height: 800vh;
  position: relative;
  /* border: 1px solid black; */
}

.section-one {
  /* opacity: 0.5; */
  /* border: 2px solid red; */
}

.section-two {
  /* background-color: steelblue; */
  /* height: 100vh; */
  /* opacity: 0.5; */
  /* border: 2px solid yellow; */
  /* height: 300vh; */
  height: 30vh;
  /* border: 2px solid red; */
}

.section-two-half {
  /* background: black; */
  opacity: 1;
  height: 40vh;
  /* border: 5px solid orange; */
}

.section-three {
  /* background-color: crimson; */
  /* opacity: 0.5; */
  /* border: 3px solid cyan; */
}

.section-four {
  /* background-color: lime; */
  /* background: url("/assets/images/another-med.jpg") no-repeat center; */
  /* opacity: 0.5; */
}

.section-five {
  /* background-color: grey;
  opacity: 0.2; */
}

.section-seven {
  /* background-image: url("/assets/images/backgrounds/customize/Costumize_Smoke_Background_V01.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1; */
  /* position: fixeabsolud; */
  /* z-index: 3333333334324; */
}

.section-six {
  /* background-image: url("/assets/images/backgrounds/security/Millitary_Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9; */
}

.section-ten {
  height: 100vh;
  /* border: 5px solid red; */
}

/* ----------- viewable content ------------ */

.viewable-content-wrapper {
  height: 100vh;
  width: 100vw;
  /* border: 1px solid yellow; */
  /* z-index: 50000; */
  /* background: url("/assets/images/backgrounds/Astro_1_Background.webp"); */
  background: var(--color);
  background-size: cover;
  transition: background-image 0.8s;
  top: 0em;
  /* background: black; */
  /* opacity: 0.7; */
  position: fixed;
  /* z-index: 1233333333222; */
}

@keyframes scaleUpDown {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.bg-scale-effect {
  background: url("/assets/images/backgrounds/moving-bg.jpg");
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.5;
  animation: scaleUpDown 20s infinite ease-in-out;
  background-size: cover;
}

.scale-effect {
  background: url("/assets/images/backgrounds/moving-bg.jpg");
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.6;
  animation: scaleUpDown 14s infinite ease-in-out;
  background-size: cover;
}

.num2 {
  opacity: 0.4;
}

/* ------ titles ----  */

.taasia:hover {
  background: url("/assets/images/backgrounds/taasiya.jpg");
  transition: background-image 0.8s;
}

.medicine:hover {
  background: url("/assets/images/backgrounds/another-med.jpg");
  transition: background-image 0.8s;
}

.microsoft:hover {
  background: url("/assets/images/backgrounds/microsoft.jpg");
  transition: background-image 0.8s;
}

.military:hover {
  background: url("/assets/images/backgrounds/taasiya.jpg");
  transition: background-image 0.8s;
}

.ai:hover {
  background: url("/assets/images/backgrounds/taasiya.jpg");
  transition: background-image 0.8s;
}

.taasia-bitachon:hover {
  background: url("/assets/images/backgrounds/taasiya.jpg");
  transition: background-image 0.8s;
}

.customization:hover {
  background: url("/assets/images/backgrounds/taasiya.jpg");
  transition: background-image 0.8s;
}

.scrolled-category-title {
  font-family: gotham;
  color: #d8f3f6;
}

.scrolled-category-text-one {
  margin-top: 3em;
  font-size: 1.8em;
  line-height: 1.2em;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  font-family: swiss-medium;
}

.scrolled-category-text-one-new {
  font-size: 2em;
  line-height: 1.2em;
  font-weight: bold;
  flex-direction: column;
  font-family: swiss-medium;
}

.scrolled-category-text-two {
  font-size: 1.5em;
  /* line-height: 1.2em; */
  font-family: swiss-medium;
  color: rgb(255, 255, 255);
}

.ai-title {
  font-size: 8em;
  text-align: left;
  border-bottom: 5px solid white;
}

.ai-text-margin-top {
  margin-top: 8em;
}

.medicine-title {
  font-size: 12em;
  text-align: center;
}

.military-title {
  font-size: 14em;
  text-align: left;
}

.microsoft-title {
  font-size: 13em;
  text-align: center;
}

.military-text-one-wrapper {
  margin-top: 5em;
  width: 70%;
  margin-left: 5em;
}

.military-text-two-wrapper {
  margin-top: 4em;
  width: 60%;
  margin-left: 5em;
}

.microsoft-text-two-placemenet {
  width: 50%;
  margin-top: 20em;
  font-size: 1.2em;
}

.customization-text-one-spacing {
  width: 38%;
  height: 30%;
  margin-top: 10em;
}

/* taaasia */
.industry-title-ani {
  animation: move-drop-title 0.8s ease-in forwards;
}

.industry-text-one-ani {
  animation: move-reveal-text 0.8s ease-in forwards;
}
.industry-text-two-ani {
  animation: move-slide-text-two 0.8s ease-in forwards;
}
/* artifical intelligence */
.ai-title-ani {
  animation: text-reveal-title 0.8s ease-in forwards;
}

.ai-text-one-ani {
  animation: text-drop-title 0.8s ease-in forwards;
}
.ai-text-two-ani {
  animation: text-reveal-title 0.8s ease-in forwards;
}
/* SECURITY */
.security-title-ani {
  animation: rise-reveal-title 0.8s ease-in forwards;
}
.security-text-ani {
  animation: drop-drop-title 0.8s ease-in forwards;
}
/* MILITARY */

@keyframes move-reveal-text {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(20%);
  }
}

@keyframes move-drop-title {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes move-slide-text-two {
  0% {
    opacity: 0;
    transform: translate(100%);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes rise-reveal-title {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(50%);
  }
}

@keyframes drop-drop-title {
  0% {
    opacity: 0;
    transform: translate(-100%);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(20%);
  }
}

/* ------------- selected category page ------------ */

.selected-category-wrapper {
  background: black;
  opacity: 1;
  height: 100vh;
  width: 0;
  left: 0;
  position: absolute;
  transition: width 0.8s;
  border-right: 1px solid rgba(255, 255, 255, 1);
  z-index: 10;
}

.horizontal-nav-wrapper-open {
  width: 100vw;
}

.selected-category-content-wrapper {
}

@keyframes flash {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.9;
  }
}

.flashing-div {
  /* background: url("/assets/images/backgrounds/medicine/medicine_bg.jspg"); */
  /* background: #750414; */
  background: rgb(31, 66, 98);
  /* background: url("/assets/images/backgrounds/Astro_1_Background.webp"); */
  /* no-repeat center; */
  position: fixed;
  /* background: black; */
  z-index: 4000000000000;
  top: 0;
  left: 0;
  /* height: 100%; */
  /* width: 100vw; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

.flashing-fade-out {
  animation: fadeOut 2s ease forwards;
}

.flashing-img {
  /* animation: flash 2s infinite; Adjust duration as needed */

  opacity: 0.85;
  /* border: 1px solid yellow; */
}

.menu-smaller-text {
  font-size: 0.2em;
  color: #000103;
}

.magnifying-glass {
  /* display: flex; */
  /* width: 50vw; */
  transition: opacity 1s ease;
  font-size: 3em;
  /* filter: blur(0px); */
}

.magnifying-glass:hover {
  cursor: pointer;
}

.magnifying-glass__img {
  width: 100%;
}

.magnifying-glass__magnifier {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  width: 15vw;
  max-width: 8rem;
  height: 15vw;
  max-height: 8rem;
  border: 5px solid rgba(white, 0.25);
  border-radius: 50%;
  background-color: transparent;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.25s ease;
  border: 1px solid rgb(207, 210, 164);
}

.magnifying-glass__enlarged-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
}

/* .magnifying-glass__text,
.magnifying-glass__enlarged-text {
  font-size: 1rem;
  text-align: center;
}

.magnifying-glass__enlarged-text {
  font-size: 2rem;

} */
/* .magnifying-glass__text {
  opacity: 0;
  animation: fadeInFromLeft 1s ease-out forwards;
}

@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
} */

.magnifying-glass__text,
.magnifying-glass__enlarged-text {
  /* font-size: var(--fs-xl); */
  font-family: gotham-old;
  /* // adjust font-size of the original text */
  text-align: center;
  line-height: 1;
  font-size: 1.1em;
}

.magnifying-glass__enlarged-text {
  font-size: 3rem;
  /* // make font-size larger for the magnified text */
  text-align: center;
  line-height: 2;
  color: rgb(255, 255, 255);
}

.magnifying-glass__magnifier {
  position: absolute;
  /* // make the magnifier follow the mouse */
  /* other styles go here */
}

/* .hoverZoom {
  animation: zoomOut 1s ease-in-out forwards;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100vw;
  position: absolute;
} */

.linkdn-icon {
  margin-top: 1em;
}

.linkdn-icon:hover {
  cursor: pointer;
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes zoomOutImg {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomInBack {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.hovered-image {
  animation: unblur 4s ease-out forwards;
}

@keyframes unblur {
  from {
    filter: blur(10px);
  }
  to {
    filter: blur(0);
  }
}

/* @keyframes fadeInBg {
  0% {
    background: black;
  }
  100% {
    background: black;
  }
} */

.horizontal-nav-open-titles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  height: 40em;
}

/* Target the last two items specifically */
.horizontal-nav-open-titles-container div:nth-last-child(-n + 2) {
  grid-column: span 2;
  justify-self: center;
}

.mobile-category-wrapper {
  all: unset;
  color: white;
  border: 1px solid rgb(255, 255, 255);
  background: rgba(9, 17, 27, 0.75);
  border-radius: 12px;
  width: 90%;
  padding: 3px;
  margin-top: 1em;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 50%; */
  z-index: 209090909;
}

.mobile-categories-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two categories per column */
  gap: 10px; /* Adjust gap between categories */
  margin-bottom: 20%;
  justify-items: center;
  width: 100%;
}

.canvas-container-mobile {
  /* border: 20px solid pink; */
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

/* contact us styles */

.contact-us-wrapper {
  /* position: absolute;
  top: 16%;
  right: 6%;
  display: flex;
  flex-direction: column;
  font-family: gotham; */
  position: absolute;
  top: 20%;
  right: 6%;
  display: flex;
  flex-direction: column;
  font-family: gotham;
  width: 30%;
}

.contact-title {
  font-size: 1.5em;
  color: white;
}

.contact-message-input {
  resize: vertical;
}

.contact-us-send-text-btn {
  margin-top: 1em;
  width: 10em;
  height: 2em;
  border-radius: 20px;
  opacity: 0.8;
  /* transition: background-color 1s ease-in-out; */
  transition: background-color 1s ease-in-out, color 1s ease-in-out;
}

.contact-us-send-text-btn:hover {
  cursor: pointer;
  background-color: #95c8de83;
  color: white;
}

.contact-details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 0.5em;
  color: rgb(255, 255, 255, 0.9);
  margin-top: 3em;
}

.contact-us-text-area {
  width: 100%;
  height: 8em;
  border-radius: 12px;
  opacity: 0.8;
  padding: 15px;
  font-size: 1em;
}

.overlay-test {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  z-index: 4;

  /* background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.4) 75%,
    rgba(255, 255, 255, 0.3) 80%,
    rgba(255, 255, 255, 0.35) 95%,
    rgba(255, 255, 255, 0) 100%
  ); */
}

.text-test {
  z-index: 20000090909;
  font-family: "Yanone Kaffeesatz";
  font-size: 2em;
  /* border: 1px solid red; */
  display: flex;
  position: absolute;
  /* left: 60%; */
  /* transform: translateX(50%); */
  user-select: none;
  .wrapper-test {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    line-height: 1.5em;
    .letter {
      transition: ease-out 1s;
      transform: translateY(40%);
      color: rgba(0, 0, 0, 0.8);
    }
    .shadow {
      transform: scale(1, -1);
      color: #000103;
      transition: ease-in 5s, ease-out 5s;
    }
    &:hover {
      .letter {
        transform: translateY(-20%);
      }
      .shadow {
        opacity: 0;
        transform: translateY(200%);
      }
    }
  }
}

.text-test-mobile {
  font-family: "Yanone Kaffeesatz";
  font-size: 2em;
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
  .wrapper-test {
    padding-left: 5px;
    padding-right: 20px;
    padding-top: 5px;
    .letter {
      transition: ease-out 1s;
      transform: translateY(40%);
    }
    .shadow {
      transform: scale(1, -1);
      color: #999;
      transition: ease-in 5s, ease-out 5s;
    }
    &:hover {
      .letter {
        transform: translateY(-200%);
      }
      .shadow {
        opacity: 0;
        transform: translateY(200%);
      }
    }
  }
}

.simply-expanded-container {
  /* padding: 100px 20px 0;
  max-width: 960px;
  margin: 0 auto; */
}

.simply-outer {
  margin: 0;
  text-align: center;
  font-size: 2em;
  overflow: hidden;
  line-height: 1;
  color: white;
}

.simply-outer .simply-text {
  display: block;
  animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) forwards;
  animation-delay: 10s; /* Delayed by 3s */
  font-family: gotham;
}

@keyframes reveal {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}

.contact-us-here-btn {
  all: unset;
  font-size: 1.1em;
  /* text-decoration: underline;
  font-weight: 600; */
}

.contact-us-here-btn:hover {
  cursor: pointer;
  z-index: 48787878;
}

.industy-content-wrapper {
  width: 80%;
  position: absolute;
  color: white;
  font-family: gotham;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  /* padding: 1em; */
  text-align: center;
  width: 100%;
  margin: 0 auto;
  /* left: 2em; */
  font-size: 12em;
  height: 2em;
  margin-top: 0.4em;
}

.title-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 5px;
  /* background-color: white;
  animation-name: reveal;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s; */
}

.security-title {
  font-size: 12em;
  text-align: center;
}

.learn-more-btn-wrapper {
  /* opacity: 0; */
  animation: fadeIn 1.5s ease;
}

.see-more-btn {
  all: unset;
  width: 12em;
  border: 1px solid rgb(255, 255, 255, 0.8);
  border-radius: 12px;
  text-align: center;
  height: 2.5em;
  margin-top: 1em;
  font-family: sans-serif;
  color: white;
}

.see-more-btn:hover {
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0, 0.8);
  /* font-family: gotham; */
}

.scroll-text-animate {
  font-family: gotham;
  position: relative;
  opacity: 0;
  animation: text-reveal 0.6s ease-in-out forwards;
  animation-delay: 0.3s;
  transform: translateY(-100%);
}

.scroll-text-animate-one {
  font-family: gotham;
  padding: 2px;
  text-align: center;
  position: relative;
  opacity: 0;
  animation: text-reveal 0.6s ease-in-out forwards;
  animation-delay: 0.6s;
  color: #3abce2;
}

.scroll-text-animate-two {
  font-family: gotham;
  color: white;
  padding: 2px;
  position: relative;
  opacity: 0;
  animation: text-reveal 0.6s ease-in-out forwards;
  animation-delay: 0.9s;
  transform: translateY(-100%);
}

.industry-text-two-wrapper {
  width: 45%;
  margin-left: 6.5em;
  margin-top: 3.5em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  /* padding: 1em; */
  text-align: center;
  margin: 0 auto;
  left: 2em;
}

.container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 5px;
  background-color: white;
  animation-name: reveal;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}

.text-animate {
  font-family: gotham;
  color: white;
  position: relative;
  font-size: 1.55em;
  opacity: 0;
  animation: text-reveal 1s ease-in-out forwards;
  animation-delay: 2s;
  transform: translateY(-100%);
}

@keyframes text-reveal {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes text-reveal-title {
  0% {
    opacity: 0;
    transform: translateY(200%);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(50%);
  }
}

@keyframes text-drop-title {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(50%);
  }
}

@keyframes reveal {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.loading-header {
  margin: 0;
  padding: 0;
  font-family: ‘Arial Narrow’, sans-serif;
  font-weight: 100;
  font-size: 1.1em;
  color: #a3e1f0;
}

.loading-span {
  position: relative;
  top: 0.63em;
  display: inline-block;
  text-transform: uppercase;
  opacity: 0;
  transform: rotateX(-90deg);
}

/* .loading-span.active {
  animation: drop 1.2s ease-in-out infinite;
} */

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.let1 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.2s;
}

.let2 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.3s;
}

.let3 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.4s;
}

.let4 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.5s;
}

.let5 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.6s;
}

.let6 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.7s;
}

.let7 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.8s;
}

.letgoo {
  /* animation: fadeOut 2s ease-in forwards; */
}

@keyframes drop {
  10% {
    opacity: 0.5;
  }
  20% {
    opacity: 1;
    top: 3.78em;
    transform: rotateX(-360deg);
  }
  80% {
    opacity: 1;
    top: 3.78em;
    transform: rotateX(-360deg);
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    top: 6.94em;
  }
}

.ai-highlight {
  color: #64b5f6;
  font-size: 1.15em;
}

.animated-letter {
  font-size: 1em;
  text-transform: lowercase;
  animation: transformCase 1.2s forwards;
  animation-delay: 0.75s;
  transition: font-size 1s ease, color 1.3s ease forwards;
  transition-delay: 1s;
}

@keyframes transformCase {
  from {
    text-transform: lowercase;
    font-size: 1em;
    color: rgb(255, 255, 255);
  }
  to {
    text-transform: uppercase;
    font-size: 1.15em;
    color: #6ad5db;
  }
}

.down-indicator-wrapper {
  margin-top: 1.5em;
  margin-left: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 300px;
  width: 300px;
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;

  /* left: 50%; */
}

.icon-scroll {
  width: 40px;
  height: 70px;
  /* margin-left: -20px; */
  /* top: 50%; */
  /* margin-top: -35px; */
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}

.icon-scroll:before {
  content: "";
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  /* top: 8px; */
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}

.down-indicator::before {
  animation: bounce 1s ease infinite;
  /* bottom: 4rem; */
  top: 15.2em;
  right: 8.35em;
  color: #fff;
  content: "╲╱";
  font-size: 1rem;
  height: 4rem;
  opacity: 0.8;
  position: absolute;
}

@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }
}

.simply-header {
  font-size: 1.9em;
}

.simply-header:hover {
  cursor: default;
}
.cta {
  border: none;
  background: none;
  cursor: pointer;
  color: white;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
  color: white;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
  color: white;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
  color: white;
}

/* -------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-------------------------------------
--------------------------------------- */

@media screen and (max-width: 1850px) {
  .category-title {
    font-size: 0.8em;
  }

  .text-animate {
    font-size: 1.75em;
  }
}

.category-title:hover {
  cursor: pointer !important;
  font-size: 0.85em;
}

.scrolled-category-text-one {
  font-size: 1.6em;
}

.scrolled-category-text-two {
  font-size: 1.4em;
  line-height: 1.3em;
}

.military-title {
  font-size: 12em;
}

.ai-title {
  font-size: 7.5em;
}

.industry-title {
  font-size: 1em;
}

.scroll-text-animate-one {
  width: 70%;
  margin-left: 8em;
}

.scrolled-category-text-one-new {
  font-size: 1.8em;
}

@media screen and (max-width: 1690px) {
  .button-ani {
    font-size: 0.8em;
  }
  .security-title {
    font-size: 11em;
  }

  .microsoft-title {
    font-size: 12em;
  }

  .category-title {
    font-size: 0.7em;
  }

  .scroll-text-animate-one {
    width: 70%;
    margin-left: 6em;
  }

  .ai-title {
    font-size: 6.9em;
    margin-top: 0.6em;
  }

  .ai-text-margin-top {
    margin-top: 6em;
  }

  .text-animate {
    font-size: 1.4em;
  }

  .medicine-title {
    font-size: 11em;
  }

  .military-title {
    font-size: 10em;
  }

  .category-title:hover {
    cursor: pointer !important;
    font-size: 0.75em;
  }

  .scrolled-category-text-one-new {
    font-size: 1.6em;
  }

  .microsoft-text-two-placemenet {
    margin-top: 17em;
    font-size: 1em;
  }

  .customization-text-one-spacing {
    width: 48%;
    margin-top: 8em;
  }

  @keyframes text-reveal-title {
    0% {
      opacity: 0;
      transform: translateY(200%);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      transform: translateY(30%);
    }
  }

  .contact-us-text-area {
    height: 6em;
  }

  /* .title-container {
    font-size: 1em;
  } */
}

.contact-details-wrapper {
  margin-top: 0em;
  font-size: 0.48em;
}

/* med displays:  */
@media screen and (max-width: 1560px) {
  .security-title {
    font-size: 10em;
  }

  .industy-content-wrapper {
    width: 90%;
  }

  .title-container {
    font-size: 10em;
  }
  .scrolled-category-title {
    font-size: 8.5em;
  }

  .ai-title {
    font-size: 6em;
  }

  .medicine-title {
    font-size: 10.5em;
  }

  .microsoft-title {
    font-size: 11em;
  }

  .military-title {
    font-size: 9em;
  }

  .category-title {
    font-size: 0.5em;
  }

  .scrolled-category-text-one {
    margin-top: 1em;
    font-size: 1.3em;
  }

  .scrolled-category-text-two {
    font-size: 1.2em;
    line-height: 1.3em;
  }

  .scroll-text-animate-one {
    width: 70%;
    margin-left: 8em;
    margin-top: 3em;
  }

  .scrolled-category-text-one-new {
    font-size: 1.4em;
  }

  /* .contact-us-wrapper {
    right: 3%;
    width: 40%;
    position: absolute;
    z-index: 43334343242432;
  }

  .contact-details-wrapper {
    font-size: 1.3em;
  } */

  .category-title:hover {
    cursor: pointer !important;
    font-size: 0.55em;
  }

  .contact-details-wrapper {
    font-size: 0.43em;
  }
}

@media (max-width: 1690px) and (max-height: 850px) {
  .title-container {
    margin-top: 0.2em;
    font-size: 10em;
  }

  .medicine-title {
    font-size: 10em;
  }

  .microsoft-title {
    font-size: 10.5em;
  }

  .military-text-one-wrapper {
    margin-top: 3em;
  }

  .military-text-two-wrapper {
    margin-top: 3em;
  }

  .military-text-two {
    font-size: 1em;
  }

  .scrolled-category-title {
    font-size: 7.5em;
  }

  .industry-title {
    font-size: 1em;
  }

  .ai-text-margin-top {
    margin-top: 5em;
  }

  .industry-text-two-wrapper {
    margin-left: 2em;
    margin-top: 1.5em;
    font-size: 0.8em;
  }

  .scroll-text-animate-one {
    width: 70%;
    margin-left: 2em;
  }

  .category-title {
    font-size: 0.7em;
  }

  .ai-title {
    font-size: 5.5em;
  }

  .text-animate {
    font-size: 1.4em;
  }

  .military-title {
    font-size: 10em;
  }

  .category-title:hover {
    cursor: pointer !important;
    font-size: 0.75em;
  }

  .horizontal-nav-open-titles-container {
    height: 60%;
    font-size: 0.9em;
  }

  .scrolled-category-text-one-new {
    font-size: 1.6em;
  }
  .container {
    left: 1em;
  }
  @keyframes rise-reveal-title {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      transform: translateY(40%);
    }
  }
}

@media (max-width: 1330px) and (max-height: 865px) {
  .title-container {
    margin-top: 0.2em;
    font-size: 8em;
  }
  .horizontal-nav-open-titles-container {
    height: 60%;
    font-size: 0.8em;
  }
}

@media screen and (max-height: 675px) {
  .industry-text-two-wrapper {
    font-size: 0.8em;
  }
}

/* small displays */
@media screen and (max-width: 768px) {
  .horizontal-nav-open-titles-container {
    width: 80%;
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    justify-items: center; /* Center the titles horizontally */
    align-items: center; /* Center the titles vertically */
    border-radius: 5px;
    /* box-shadow: 1px -1px 26px 7px rgba(130, 49, 49, 0.75);
    -webkit-box-shadow: 1px -1px 26px 7px rgba(130, 49, 49, 0.75);
    -moz-box-shadow: 1px -1px 26px 7px rgba(130, 49, 49, 0.75); */
  }

  .scrolled-category-title {
    font-size: 3em;
  }

  .hamburger-icon {
    right: 1em;
    top: 1em;
  }

  .magnifying-glass {
    font-size: 2em;
  }
}
