@font-face {
  font-family: Gotham;
  src: url("../src/fonts/GothamLight.ttf");
}

@font-face {
  font-family: gotham-bold;
  src: url("../src/fonts/GothamBold.otf");
}

body {
  padding: 0;
  margin: 0;
  overflow: scroll;
  background: black;
  /* transition: background-image 1s; */
  /* background: black; */
}

.section-one-first-title {
  color: white;
  font-family: gotham;
  font-size: 1.5em;
  opacity: 0.85;
}

.h-nav-in3d-icon {
  animation: slideUpIcon 1s ease-out forwards;
  animation-delay: 0.6s;
  opacity: 0;
}

@keyframes slideUpIcon {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.home-categories-wrapper {
  height: 300px;
  width: 300px;
  /* border: 1px solid orange; */
  /* position: absolute;
  right: 14%; */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 6em;
  border: 1px solid orange;
  position: fixed;
  bottom: 100%;
  z-index: 5090000;
}

.home-categories-wrapper-fixed {
  position: fixed;
  bottom: 100%;
}

.category-title {
  margin-top: 2em;
}

.category-title-no-opacity {
  opacity: 0;
}

.home-categories-wrapper .category-title {
  opacity: 0;
  animation: fadeIn 1s forwards;
  font-family: gotham;
  /* line-height: 1.2; */
}

.category-title:hover {
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home-categories-wrapper .category-title:nth-child(2) {
  animation-delay: 0.4s;
}

.home-categories-wrapper .category-title:nth-child(3) {
  animation-delay: 0.7s;
}
.home-categories-wrapper .category-title:nth-child(4) {
  animation-delay: 1s;
}

.home-categories-wrapper .category-title:nth-child(5) {
  animation-delay: 1.3s;
}

.home-categories-wrapper .category-title:nth-child(6) {
  animation-delay: 1.6s;
}

.home-categories-wrapper .category-title:nth-child(7) {
  animation-delay: 1.9s;
}

.main-content-divider {
  display: flex;
  height: 100%;
}

.main-content-title {
  text-align: center;
}

.main-content-text {
  padding: 1em;
}

.main-content-text-points {
  margin-top: 2em;
  color: rgb(255, 255, 255, 0.9);
  width: 50%;
  font-size: 2em;
  transform: translateX(-200%);
}

.main-content-paragraph {
  color: white;
  padding: 5px;
  font-size: 2em;
  font-family: gotham;
  width: 80%;
}

.main-section {
  /* background: var(--color) no-repeat center; */
  overflow: scroll;
  /* background-size: cover; */
}

.nav-open-list-item {
  color: rgba(0, 0, 0, 0.4);
}

.nav-open-list-item:hover {
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

.section {
  height: 300vh;
  width: 100vw;
  text-align: center;
  line-height: 100vh;
  font-size: 3em;
  overflow-y: scroll;

  opacity: 1;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut 1s ease forwards;
}

.fade-in {
  animation: fadeIn 1s ease forwards;
}

.fader {
  animation: fadeIn 3s ease forwards;
}

.icon-1,
.icon-2,
.icon-3 {
  position: absolute;
  left: 25%;
  top: 50%;
  width: 32px;
  height: 3px;
  background-color: black;
  transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
}

.icon-1 {
  transform: translateY(-8px);
  animation-delay: 100ms;
}

.icon-3 {
  transform: translateY(8px);
  animation-delay: 250ms;
}

.hamburger-icon {
  position: absolute;
  height: 60px;
  width: 60px;
  top: 3em;
  right: 3%;
  z-index: 1000;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  background: rgba(255, 255, 255, 0.2);

  &:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  }
}

.icon-1.a {
  transform: rotate(40deg);
}
.icon-3.b {
  transform: rotate(-40deg);
}
.icon-2.c {
  opacity: 0;
}

.clear {
  clear: both;
}

@keyframes slideIn {
  0% {
    width: 0%;
    opacity: 0;
  }

  100% {
    width: 50%;
    opacity: 1;
  }
}

nav {
  background: rgb(0, 0, 0);
  /* background: url("/assets/images/backgrounds/medicine/medicine_bg.jpg") cover
    no-repeat center; */

  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0%;
  z-index: 10;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 600ms cubic-bezier(0.62, 0.04, 0.3, 1.56);

  transition-delay: 100ms;
  /* ul {
    margin: 0;
    position: absolute;
    top: 30%;
    width: 90%;
    li {
      text-align: center;
      list-style: none;
      font-size: 24px;
      color: #fff;
      line-height: 2.2;
      text-transform: uppercase;
      letter-spacing: 1.7px;
    }
  } */
}

nav.show {
  width: 100%;
  height: 100vh;
  opacity: 1;
  /* background: rgb(207, 210, 164, 0.5); */
}

.dark-blue {
  position: absolute;
  top: 0;
  left: 0;
  background: #64b5f6;
  height: 100%;
  width: 0%;
  transition: all 500ms cubic-bezier(0.62, 0.04, 0.3, 1.8);
  transition-delay: 50ms;
  z-index: 5;
  opacity: 1;
}

.dark-blue.slide {
  width: 50%;
  opacity: 1;
}

@keyframes shotup {
  0% {
    transform: translateY(300%);
    opacity: 0;
  }
  90% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

/* main scolling component sections */

section {
  width: 100%;
  height: 800vh;
  position: relative;
  /* border: 1px solid black; */
}

.section-one {
  /* opacity: 0.5; */
}

.section-two {
  /* background-color: steelblue; */
  /* height: 100vh; */
  /* opacity: 0.5; */
}

.section-three {
  /* background-color: crimson; */
  /* opacity: 0.5; */
  /* border: 3px solid cyan; */
}

.section-four {
  /* background-color: lime; */
  /* background: url("/assets/images/another-med.jpg") no-repeat center; */
  /* opacity: 0.5; */
}

.section-five {
  /* background-color: grey;
  opacity: 0.2; */
}

.section-seven {
  /* background-image: url("/assets/images/backgrounds/customize/Costumize_Smoke_Background_V01.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1; */
  /* position: fixeabsolud; */
  /* z-index: 3333333334324; */
}

.section-six {
  /* background-image: url("/assets/images/backgrounds/security/Millitary_Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9; */
}

/* ----------- viewable content ------------ */

.viewable-content-wrapper {
  height: 100vh;
  width: 100vw;
  /* border: 1px solid yellow; */
  /* z-index: 50000; */
  /* background: url("/assets/images/backgrounds/Astro_1_Background.webp"); */
  background: var(--color);
  transition: background-image 0.8s;
  /* background: black; */
  /* opacity: 0.7; */
  position: fixed;
  /* z-index: 1233333333222; */
}

/* ------ titles ----  */

.taasia:hover {
  background: url("/assets/images/backgrounds/taasiya.jpg");
  transition: background-image 0.8s;
}

.medicine:hover {
  background: url("/assets/images/backgrounds/another-med.jpg");
  transition: background-image 0.8s;
}

.microsoft:hover {
  background: url("/assets/images/backgrounds/microsoft.jpg");
  transition: background-image 0.8s;
}

.military:hover {
  background: url("/assets/images/backgrounds/taasiya.jpg");
  transition: background-image 0.8s;
}

.ai:hover {
  background: url("/assets/images/backgrounds/taasiya.jpg");
  transition: background-image 0.8s;
}

.taasia-bitachon:hover {
  background: url("/assets/images/backgrounds/taasiya.jpg");
  transition: background-image 0.8s;
}

.customization:hover {
  background: url("/assets/images/backgrounds/taasiya.jpg");
  transition: background-image 0.8s;
}

.scrolled-category-title {
  font-size: 4em;
  font-family: gotham-bold;
}

.scrolled-category-text-one {
  margin-top: 3em;
  font-size: 2em;
  line-height: 1.2em;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.scrolled-category-text-two {
  margin-top: 1em;
  font-size: 1.5em;
  line-height: 1.2em;
  display: flex;
  flex-direction: column;
}

/* ------------- selected category page ------------ */

.selected-category-wrapper {
  background: black;
  opacity: 1;
  height: 100vh;
  width: 0;
  left: 0;
  position: absolute;
  transition: width 0.8s;
  border-right: 1px solid rgba(255, 255, 255, 1);
  z-index: 10;
}

.horizontal-nav-wrapper-open {
  width: 100vw;
}

.selected-category-content-wrapper {
}

@keyframes flash {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.9;
  }
}

.flashing-div {
  background: url("/assets/images/backgrounds/medicine/medicine_bg.jpg");
  position: absolute;
  /* background: black; */
  z-index: 4000000000000;
  top: 0;
  left: 0;
  /* height: 100%; */
  /* width: 100vw; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.flashing-fade-out {
  animation: fadeOut 2s ease forwards;
}

.flashing-img {
  animation: flash 2s infinite; /* Adjust duration as needed */
}

.contact-us-wrapper {
  position: absolute;
  top: 16%;
  right: 6%;
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
  font-family: gotham;
}

.magnifying-glass {
  /* display: flex; */
  /* width: 50vw; */
  transition: opacity 1s ease;
  font-size: 3em;
  /* filter: blur(0px); */
}

.magnifying-glass:hover {
  cursor: pointer;
}

.magnifying-glass__img {
  width: 100%;
}

.magnifying-glass__magnifier {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  width: 15vw;
  max-width: 8rem;
  height: 15vw;
  max-height: 8rem;
  border: 5px solid rgba(white, 0.25);
  border-radius: 50%;
  background-color: transparent;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.25s ease;
  border: 1px solid rgb(207, 210, 164);
}

.magnifying-glass__enlarged-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
}

/* .magnifying-glass__text,
.magnifying-glass__enlarged-text {
  font-size: 1rem;
  text-align: center;
}

.magnifying-glass__enlarged-text {
  font-size: 2rem;

} */
/* .magnifying-glass__text {
  opacity: 0;
  animation: fadeInFromLeft 1s ease-out forwards;
}

@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
} */

.magnifying-glass__text,
.magnifying-glass__enlarged-text {
  font-size: var(--fs-xl);
  font-family: Gotham;
  /* // adjust font-size of the original text */
  text-align: center;
  line-height: 1;
}

.magnifying-glass__enlarged-text {
  font-size: 3rem;
  /* // make font-size larger for the magnified text */
  text-align: center;
  line-height: 2;
  color: rgb(255, 255, 255);
}

.magnifying-glass__magnifier {
  position: absolute;
  /* // make the magnifier follow the mouse */
  /* other styles go here */
}

/* .hoverZoom {
  animation: zoomOut 1s ease-in-out forwards;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100vw;
  position: absolute;
} */

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  /* 50% {
    transform: scale(1.025);
  } */
  100% {
    transform: scale(1.2);
  }
}

@keyframes zoomInBack {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.hovered-image {
  animation: unblur 4s ease-out forwards;
}

@keyframes unblur {
  from {
    filter: blur(10px);
  }
  to {
    filter: blur(0);
  }
}

/* @keyframes fadeInBg {
  0% {
    background: black;
  }
  100% {
    background: black;
  }
} */

.horizontal-nav-open-titles-container {
  width: 80%;
  height: 500px;
  display: grid;
  grid-template-areas:
    "title1 title2 title3"
    "title4 title5 title6";
  gap: 10px;
  justify-items: center; /* Center the titles horizontally */
  align-items: center; /* Center the titles vertically */
  border-radius: 5px;
  /* box-shadow: 1px -1px 26px 7px rgba(130, 49, 49, 0.75);
  -webkit-box-shadow: 1px -1px 26px 7px rgba(130, 49, 49, 0.75);
  -moz-box-shadow: 1px -1px 26px 7px rgba(130, 49, 49, 0.75); */
}

.horizontal-nav-open-titles-container div:nth-child(1) {
  grid-area: title1;
}

.horizontal-nav-open-titles-container div:nth-child(2) {
  grid-area: title2;
}

.horizontal-nav-open-titles-container div:nth-child(3) {
  grid-area: title3;
}

.horizontal-nav-open-titles-container div:nth-child(4) {
  grid-area: title4;
}

.horizontal-nav-open-titles-container div:nth-child(5) {
  grid-area: title5;
}

.horizontal-nav-open-titles-container div:nth-child(6) {
  grid-area: title6;
}

/* med displays:  */
@media screen and (max-width: 768px) {
}
/* small displays */
